# Git
.git
.gitignore

# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist
build
.next
.nuxt

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode

# Logs
logs
*.log

# Coverage
coverage

# Test
test-results
playwright-report

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp