[submodule "backend"]
	path = backend
	url = https://github.com/vientofactory/FlowAuth-Backend.git
	branch = dev
[submodule "frontend"]
	path = frontend
	url = https://github.com/vientofactory/FlowAuth-Frontend.git
	branch = dev
