[submodule "backend"]
	path = backend
	url = https://github.com/vientofactory/FlowAuth-Backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/vientofactory/FlowAuth-Frontend.git
[submodule "sdk"]
	path = sdk
	url = https://github.com/vientofactory/FlowAuth-SDK.git
[submodule "shared"]
	path = shared
	url = https://github.com/vientofactory/FlowAuth-Shared.git
